<div>
  <h2>Login</h2>
  <div>
    <label>Usuario:
      <input [(ngModel)]="productData.nombreUsuario" placeholder="Usuario"/>
    </label><br>
    <label>Pasword:
      <input [(ngModel)]="productData.password" placeholder="Pasword"/>
    </label><br>
  </div>
  <button (click)="addProduct()">Login</button>
</div>
