<div>
  <h2>Calcular Tipo Cambio</h2>
  <div>
    <label>Monto:
      <input [(ngModel)]="productData.monto" placeholder="Monto"/>
    </label><br>
    <label>Moneda Origen:
      <input [(ngModel)]="productData.monedaOrigen" placeholder="Moneda Origen"/>
    </label><br>
    <label>Moneda Destino:
      <input [(ngModel)]="productData.monedaDestino" placeholder="Moneda Destino"/>
    </label><br>
  </div>
  <button (click)="updateProduct()">Calcular</button>
  <div>
    <label>Monto Calculado:
      <input [(ngModel)]="productData.montoTipoCambio" placeholder="Monto"/>
    </label><br>
  </div>


</div>
