<h2>Tipo de Cambios</h2>

<div>
  <button (click)="add()">
    Iniciar Sesion
  </button>
</div>
<div>
  <button (click)="calcular()">
    Calcular
  </button>
</div>
<ul class="products">
  <li *ngFor="let p of products; let i=index;">
    <a routerLink="/product-details/{{p._id}}">
      <span class="badge">{{i+1}}</span> {{p.moneda}} <span></span> {{p.tipoValor}}
    </a>    
    <button class="delete" title="delete product"
      (click)="delete(p._id)">x</button>
  </li>
</ul>
